In [140]:
import pandas as pd

In [141]:
anos=range(2011, 2022, 1)
colunas=['Data ', 'Descrição', 'Valor']
prestacoes = pd.DataFrame(columns=colunas)
for ano in anos:
    print(ano)
    prestacao = pd.ExcelFile(f'data/{ano}-Prestacao-De-Contas-Condominio.xlsx')
    planilhas = [s for s in prestacao.sheet_names if str(ano-2000) in s]
    for planilha in planilhas:
        data = prestacao.parse(planilha, skiprows=2, header=0, skipfooter=6, usecols=colunas)
        if prestacoes.empty:
            prestacoes = data
        else:
            prestacoes = pd.concat([prestacoes, data])
            
prestacoes.columns=['data', 'descricao', 'valor']

2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

In [142]:
prestacoes.shape

(1791, 3)

In [143]:
prestacoes.head()

                  data                 descricao   valor
0  2011-08-01 00:00:00            Saldo Anterior -311.52
1  2011-08-02 00:00:00          Faxina do Prédio  -30.00
2  2011-08-02 00:00:00  Condomínio Apartamento 4   90.00
3  2011-08-08 00:00:00            Cera para Chão   -6.77
4  2011-08-09 00:00:00          Faxina do Prédio  -30.00

In [144]:
prestacoes.tail()

                   data                               descricao   valor
10  2021-02-17 00:00:00      Água e Esgoto - Referência 01/2021  -10.00
11  2021-02-17 00:00:00  Energia Elétrica – Referência  02/2021  -44.38
12  2021-02-21 00:00:00                        Faxina do Prédio  -60.00
13  2021-02-28 00:00:00                        Faxina do Prédio  -60.00
14  2021-02-28 00:00:00                           Administração -150.00

In [145]:
prestacoes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1791 entries, 0 to 14
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       1791 non-null   object
 1   descricao  1791 non-null   object
 2   valor      1776 non-null   float64
dtypes: float64(1), object(2)
memory usage: 56.0+ KB

In [146]:
prestacoes=prestacoes.dropna()

In [147]:
faxinas=prestacoes.loc[prestacoes['descricao'].str.contains('Faxina')]
faxinas['data']= pd.to_datetime(faxinas['data'])

/home/gomes/Apps/miniconda3/envs/bert-torch-1/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [150]:
relatorio = faxinas.groupby(faxinas['data'].dt.year)['valor'].agg(['sum', 'mean', 'max', 'count'])

In [153]:
relatorio

         sum       mean   max  count
data
2011  -690.0 -30.000000 -30.0     23
2012 -1020.0 -30.000000 -30.0     34
2013 -1410.0 -30.000000 -30.0     47
2014 -1645.0 -35.000000 -35.0     47
2015 -1960.0 -35.000000 -35.0     56
2016 -1820.0 -35.000000 -35.0     52
2017 -1980.0 -38.823529 -35.0     51
2018 -2860.0 -55.000000 -50.0     52
2019 -2860.0 -55.000000 -50.0     52
2020 -3066.0 -58.961538  -6.0     52
2021  -480.0 -60.000000 -60.0      8

In [152]:
relatorio.to_csv('relatório-de-faxinas.csv')