In [93]:
import pandas as pd

In [102]:
anos=range(2011, 2022, 1)
colunas=['Data ', 'Descrição', 'Valor']
prestacoes = pd.DataFrame(columns=colunas)
for ano in anos:
    print(ano)
    prestacao = pd.ExcelFile(f'data/{ano}-Prestacao-De-Contas-Condominio.xlsx')
    planilhas = [s for s in prestacao.sheet_names if str(ano-2000) in s]
    for planilha in planilhas:
        data = prestacao.parse(planilha, skiprows=2, header=0, skipfooter=6, usecols=colunas)
        if prestacoes.empty:
            prestacoes = data
        else:
            prestacoes = pd.concat([prestacoes, data])
            
prestacoes.columns=['data', 'descricao', 'valor']
prestacoes['Date']= pd.to_datetime(df['Date'])

2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

In [103]:
prestacoes.shape

(1602, 3)

In [104]:
prestacoes.head()

                  data                 descricao   valor
0  2011-08-01 00:00:00            Saldo Anterior -311.52
1  2011-08-02 00:00:00          Faxina do Prédio  -30.00
2  2011-08-02 00:00:00  Condomínio Apartamento 4   90.00
3  2011-08-08 00:00:00            Cera para Chão   -6.77
4  2011-08-09 00:00:00          Faxina do Prédio  -30.00

In [105]:
prestacoes.tail()

                   data                               descricao   valor
10  2021-02-17 00:00:00      Água e Esgoto - Referência 01/2021  -10.00
11  2021-02-17 00:00:00  Energia Elétrica – Referência  02/2021  -44.38
12  2021-02-21 00:00:00                        Faxina do Prédio  -60.00
13  2021-02-28 00:00:00                        Faxina do Prédio  -60.00
14  2021-02-28 00:00:00                           Administração -150.00

In [112]:
prestacoes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1602 entries, 0 to 14
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   data       1602 non-null   object
 1   descricao  1602 non-null   object
 2   valor      1587 non-null   float64
dtypes: float64(1), object(2)
memory usage: 82.4+ KB

In [114]:
prestacoes=prestacoes.dropna()

In [117]:
faxinas=prestacoes.loc[prestacoes['descricao'].str.contains('Faxina')]

In [118]:
faxinas.groupby(faxinas['data'].dt.year)['valor'].agg(['sum', 'mean', 'max'])

AttributeError: Can only use .dt accessor with datetimelike values